@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* styles.css */
/* General  */
*{
    justify-content: center;
    background: #443b92;
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: larger;
}
body {
box-sizing: border-box;
} 

 #container {
    text-align: center;
    margin-top: 10%;
    color: white;
}
.btn-selector {
    font-size: 4em;
    background: rgb(177, 114, 153);
    margin: .1em;
    padding: .2em;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    transition: 150ms;

    
    
/* Title of the game */
.title {
    text-align: center;
    top: 0;
    font-size: 25px;
}
    
 /* to make the letters fit in in the buttons  */
#userchoice {
    font-size: small;
}

.btn-selector:hover {
    transform: scale(1.2);
}

#results {
    display: flex;
    justify-content: center;
}

h3 {
    color: white;
    display: flex;
    justify-content: center;
}

h5 {
    margin-top: 7px;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
}

.emoj {
    font-size: 3em;
}

.refresh-btn {
    padding: .8em;
    background: white;
    font-size: 30px;
    border-radius: 20px;
    border: none;
}

/* Responsive Design */
@media screen and (min-width: 500px)
{  
    .title {
        text-align: center;
    }
    .score {
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options button {
        height: 50px;
        width: 100px;
        font-size: 1.2em;
    }

}
